.big-container{
  display: flex;
}
.game-container {
  position: relative;
  background-color: black;
  margin-top: 30px;
  display: flex;
}
.screen {
  flex: 3;
  position: relative;
  background-color: #048f3e;
  border: 1px solid #3209e9;
  align-items: center;
  justify-content: center;
}
.control {
  background-color: #8f2702;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border: 10px solid #3209e9;
  box-sizing: border-box;
}

.computer-narration {
  background-color: #0fa;
  width: 72%;
  height: 40%;
  position: absolute;
  background-color: #d2d8bc;
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #110e0e;
  border: 10px solid #3209e9;
  box-sizing: border-box;
}
